/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */


html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block;
}

body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	background-image: url("source/paper.jpg");
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}

.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

.content {

	text-align: center;
	line-height: 0;
}

.content-text {
	
	line-height: 30px;
	min-height: 85vh !important;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border: 1px solid rgba(175, 238, 238, 0.7);
	background-color: white;
}

.parking-place {
	display: inline-block;
	width: 32.9%;
	text-align: center;
	height: 16vh;
	margin: 1px;
	background-color: rgba(175, 238, 238, 0.7);
	border: 1px solid #FFFFFF;
}

.parking-place img {
	height: 100%;
	width: auto;
	display: inline;
}

.parking-place:hover {
	background: rgba(175, 238, 238, 1);
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
	overflow-y: hidden;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #FFACAA;
	overflow-y: hidden;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {

	vertical-align:middle;
	text-align: center;
	margin: 0 auto 0;
	max-width: 1000px;
	height: 7.5vh;
	background: #29c5e6;
	position: relative;
}

/* Menu
-----------------------------------------------------------------------------*/
.b-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: table;
	table-layout: fixed;
}

.b-link_menu {
	text-align: center;
	color: #bfbfbf;
	cursor: pointer;
	font-size: 14px;
	height: 10vh;
	background-color: #f3f3f3;
	line-height: 38px;
	border: 1px solid #e7e7e7;
	display: table-cell;
	text-decoration: none;
}

.b-link_menu:hover {
	text-align: center;
	color: #000000;
	cursor: pointer;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	display: table-cell;
	text-decoration: none;
}

.b-link_menu_active {
	color: #fefefe;
	background-color: #29c5e6;
	border: 1px solid #29c5e6;
}

/* Popup
-----------------------------------------------------------------------------*/
#popup {
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.65);
}
#error{
	display: none;
}
#sendform{
	display: none;
}

.info {
	margin: 35vh auto;
	width: 30vh;
	height: 30vh;
	border: 3px solid #FFFFFF;
	background: #FFFFFF;
	position: relative;
}

.info button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Comic Sans MS, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: -webkit-gradient(linear, left top, left bottom, from(#0099FF),
		to(#0066FF));
	background: -moz-linear-gradient(top, #0099FF, #0066FF);
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #FFFFFF;
}

.info button:hover {
	text-decoration: none;
	font: 14px/100% Comic Sans MS, Helvetica, sans-serif;
}

.info button:active {
	position: absolute;
	bottom: 21px;
	right: 21px;
}

#close {
	
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}